#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "fossflow"
name = "FossFLOW"
description.en = "Isometric diagramming tool"
description.fr = "Outil pour réaliser des diagrammes isométriques"

version = "2025.11.20~ynh1"

maintainers = ["oleole39"]

[upstream]
license = "Unlicense"
userdoc = "https://github.com/stan-smith/FossFLOW?tab=readme-ov-file#how-to-use"
code = "https://github.com/stan-smith/FossFLOW"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "20M"
ram.build = "10M"
ram.runtime = "10M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/fossflow"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        # This is not used as we are using git clone. It's only here for autoupdate.
        url = "https://github.com/stan-smith/FossFLOW/archive/dd92c7ebc3e56e68d3f285dc9a89952c857c5939.tar.gz"
        sha256 = "a5efb324351e983ab2a9fef8d6241f5f325e74fe9d89f21b1c45d1a771466152"
        prefetch = false
        autoupdate.strategy = "latest_github_commit"
        
        [resources.sources.ynh_build]
        url = "https://github.com/oleole39/fossflow_ynh/releases/download/v2025.07.07-4ec5da70/FossFLOW_v2025.07.07-4ec5da70_ynh.zip"
        sha256 = "138e704d1d3604ffa49d8704e736da346a946d1f19568454907e037e99d3e513"
        format = "zip"
        extract = true
        in_subdir = true

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"
    
    [resources.permissions]
    main.url = "/"
